{% extends 'Base.html' %}

{% block  content %}

<h2 class="text-3xl font-bold text-center mb-6">LOGIN</h2>
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-gray-100 p-6 rounded-lg shadow-xl w-80">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Login</h2>
        
        {% if error_message %}
           <p class="text-red-600 text-sm">{{ error_message }}</p>
        {% endif %}
            
        <form method="post" action="{%url 'login' %}" class="space-y-4">
            {% csrf_token %}
            <div class="space-y-4">
                <input 
                    type="text" 
                    name="username" 
                    placeholder="Enter Username" 
                    class="block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-400 focus:outline-none"
                />
                <input 
                    type="password" 
                    name="password" 
                    placeholder="Enter Password" 
                    class="block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-400 focus:outline-none"
                />
            </div>
            <button 
                type="submit" 
                class="w-full bg-indigo-500 text-white py-2 rounded-lg hover:bg-indigo-600 focus:outline-none focus:ring-4 focus:ring-indigo-300 transition-transform duration-200 transform hover:scale-105"
            >
                LOGIN
            </button>
        </form>
        <a href="{% url 'register' %}" class="block text-center mt-4 text-indigo-600 hover:text-indigo-800">New User? REGISTER here</a>
    </div>
</div>


{% for product in similar %}
       
       <a href="{% url 'product' product.id %}" hx-target="body" hx-swap="outerHTML" class="block bg-white rounded-sm shadow-md overflow-hidden hover:shadow-sm transition-all duration-250">
        <div class="relative">
            <!-- Sale Badge -->
            {% if product.on_sale %}
            <span class="absolute top-2 left-2 bg-red-500 text-white text-xs font-bold uppercase px-2 py-1 rounded">{{product.discount}}% Off</span>
            {% endif %}
            <img src="{{product.image.url}}" alt="{{product.name}}" class="w-full h-48 object-cover group-hover:scale-105 transition-transform duration-200">
        </div>
        <div class="p-3">
          
            <h3 class="text-sm font-semibold text-gray-800 truncate">{{product.name}}</h3>
            
           
            <p class="mt-1 text-xs text-gray-600 line-clamp-2">{{product.description}}</p>
            
          
            <div class="mt-1">
                {% if product.on_sale %}
                <p class="text-sm font-bold text-red-500">${{product.sale_price}} 
                    <span class="text-gray-500 line-through text-xs">${{product.price}}</span>
                </p>
                {% else %}
                <p class="text-sm font-medium text-gray-900">${{product.price}}</p>
                {% endif %}
            </div>
        </div>
    </a>
    
    
    
       {% endfor %}

{% endblock  %}